<h1 mat-dialog-title [style.font-weight]="'bold'" style="margin-bottom: 10px;">{{data.title}}</h1>
<div mat-dialog-content>
  {{data.message}} <b *ngIf="data.identificator">{{data.identificator}}?</b>
  <strong *ngIf="data.fields">
      {{data.fields}}
  </strong>
</div>
<div mat-dialog-actions style="justify-content: flex-end;">
  <button *ngIf="data.buttonClose" mat-button mat-dialog-close cdkFocusInitial [mat-dialog-close]="data.buttonClose">{{data.buttonClose}}</button>
  <button mat-button mat-dialog-close [mat-dialog-close]="data.buttonConfirm">{{data.buttonConfirm}}</button>
</div>
